// custom variable values
$secondary: #231f20;
$primary: #ad5263;

// import the functions & variables
@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";

// custom theme colours
$custom-theme-colors: (
  "altlight": #edc3c300,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "./node_modules/bootstrap/scss/bootstrap.scss";
